* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.calc {
    width: 300px;
    height: 500px;
    background-color: black;
    margin: auto;
    border-radius: 20px;
    color: white; padding: 20px;
}

.calc_screen {
    background-color: black;
    height: 30%;
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 14%;
    user-select: none;
}

.calc_buttons {
    display: grid;
    grid-template-areas: "ac pls-mns percent division"
    "seven eight nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    justify-content: space-around;
    align-content: space-around;
}

.calc_buttons-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    background-color: #333;
    font-size: 1.5rem;
    color: white;
}

.calc_buttons-btn:hover {
    filter: brightness(120%);
}

.calc_buttons-btn:active {
    filter: brightness(90%);
}

.calc_buttons-btn__grey {
    background: #a6a6a6;
}

.calc_buttons-btn__orange {
    background: #ff9501;
}

.calc_buttons-btn__zero {
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}